*{
    margin: 0px;
    padding: 0px; 
    background:#a30012;
    color: #ccc;
}
.text h1{
text-align: center;
 font-family: 'Rokkitt', serif;
}
.text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.btn{
background: #F9A91A;
background-position: center;
}
.black{
    background: black;
    color: white;
    width: 100%;
    height: 50vh;
    margin-top: 5%;
    margin-left: 8%;
}
.complet{
    margin-top: 6%;
    margin-left: 60%;

}
#ocultar,#mostrar{
    margin: 8px;
}
/*IMAGENES CODERS*/

.chile:hover{
    width: 250px;
    height: 250px;
}
.lima5:hover{
    width: 250px;
    height: 250px;
}
.lima6:hover{
    width: 250px;
    height: 250px;
}

.lima5{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.lima6{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.chile{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
   
}
#select {
   font-family: 'Rokkitt', serif;;
   font-size: x-large;
    width: 280px;
    height: 50px;
    margin:10px;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    background:  #F9A91A;
    color: #000;
    }

#lima-5,#lima-6 ,#chile-4{
margin-left: 20%;
}
.btn{
        color: #000;
}
.selection{
    width: 100%;
    background: white;
    margin-left: 10%;
    margin-top: 5%; 
}
