*{
    margin: 0px;
    padding: 0px; 
    background:#a30012;
    color: #ccc;
   /* outline: 2px solid white;*/
}
.text h1{
text-align: center;
 font-family: 'Rokkitt', serif;
}
.text h2{
    /*text-align: center;*/
  font-family: 'Rokkitt', serif;
}

.text{
 
    font-family: 'Open Sans', sans-serif;
}

hr{
  text-align: left;
  margin-left: 0;
  width: 60px;
  color: black;
  border-style: solid;
}
.btn{
background: #F9A91A;
background-position: center;
}
.black{
    background: black;
    color: white;
    width: 100%;
    height: 50vh;
    margin-top: 5%;
    margin-left: 8%;
}

#ocultar,#mostrar{
    margin: 8px;
}
/*IMAGENES CODERS*/

.perubian:hover{
    width: 250px;
    height: 250px;
}
.mexic:hover{
    width: 250px;
    height: 250px;
}
.chil:hover{
    width: 250px;
    height: 250px;
}

.mexic{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.chil{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.perubian{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
   
}
#select {
   font-family: 'Rokkitt', serif;;
   font-size: x-large;
    width: 280px;
    height: 50px;
    margin:10px;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    background:  #F9A91A;
    color: #000;
    }

#mexico,#chile ,#peru{
margin-left: 20%;
}
.btn{
        color: #000;
}
.selection{
    width: 80%;
 
    margin-left: 10%;
    margin-top: 3%;
    
}
.complet{
    width: 100%;
    height: 200px;
    margin-left: 60%;
   /* margin-top: -24%;*/
    border-radius: 8px;

}
